:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  ion-header {
    flex-shrink: 0;
  }

  ion-content {
    flex: 1;
    --background: none;
    height: calc(100% - var(--ion-safe-area-top, 0px));
  }

  .map-container {
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
  }

  ion-segment {
    padding: 8px;
  }
}
