/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

:root {
	--ion-color-first: #FFD700;
	--ion-color-first-rgb: 255,215,0;
	--ion-color-first-contrast: #000000;
	--ion-color-first-contrast-rgb: 0,0,0;
	--ion-color-first-shade: #e0bd00;
	--ion-color-first-tint: #ffdb1a;
  --ion-color-second: #C0C0C0;
  --ion-color-second-rgb: 192,192,192;
  --ion-color-second-contrast: #000000;
  --ion-color-second-contrast-rgb: 0,0,0;
  --ion-color-second-shade: #a9a9a9;
  --ion-color-second-tint: #c6c6c6;
	--ion-color-third: #CD7F32;
	--ion-color-third-rgb: 205,127,50;
	--ion-color-third-contrast: #000000;
	--ion-color-third-contrast-rgb: 0,0,0;
	--ion-color-third-shade: #b4702c;
	--ion-color-third-tint: #d28c47;
}

.ion-color-first {
	--ion-color-base: var(--ion-color-first);
	--ion-color-base-rgb: var(--ion-color-first-rgb);
	--ion-color-contrast: var(--ion-color-first-contrast);
	--ion-color-contrast-rgb: var(--ion-color-first-contrast-rgb);
	--ion-color-shade: var(--ion-color-first-shade);
	--ion-color-tint: var(--ion-color-first-tint);
}

.ion-color-second {
  --ion-color-base: var(--ion-color-second);
	--ion-color-base-rgb: var(--ion-color-second-rgb);
	--ion-color-contrast: var(--ion-color-second-contrast);
	--ion-color-contrast-rgb: var(--ion-color-second-contrast-rgb);
	--ion-color-shade: var(--ion-color-second-shade);
	--ion-color-tint: var(--ion-color-second-tint);
}


  .ion-color-third {
    --ion-color-base: var(--ion-color-third);
    --ion-color-base-rgb: var(--ion-color-third-rgb);
    --ion-color-contrast: var(--ion-color-third-contrast);
    --ion-color-contrast-rgb: var(--ion-color-third-contrast-rgb);
    --ion-color-shade: var(--ion-color-third-shade);
    --ion-color-tint: var(--ion-color-third-tint);
}


ion-fab-button {
  --border-radius: 8px;
}
